/* colors */

:root {
    --mc-yellow: #ffbe0b;
    --mc-orange: #fb5607;
    --mc-pink: #ff006e;
    --mc-violet: #8338ec;
    --mc-blue: #3a86ff;
}

/* utility */

body {
    background-color: var(--mc-blue);
}
.wrapper {
    height: 80vh;
    width: 60vw;
}
.box {
    width: 50px;
    height: 50px;
    margin: 5px
}
.divisible-three {
    background-color: var(--mc-orange);
}
.divisible-five {
    background-color: var(--mc-yellow);
}
.divisible-five-three {
    background-color: var(--mc-pink);
}